<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://repo.chilly.room/repository/nuget-hosted/" />
    </config>
    <packageSources>
        <clear />
        <add key="ChillyRoom" value="https://repo.chilly.room/repository/nuget/index.json" />
        <add key="ChillyRoomHosted" value="https://repo.chilly.room/repository/nuget-hosted/" />
    </packageSources>
    <packageSourceCredentials>
        <ChillyRoomHosted>
            <add key="Username" value="%NUGET_USER%" />
            <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
            <add key="ValidAuthenticationTypes" value="basic" />
        </ChillyRoomHosted>
    </packageSourceCredentials>
</configuration>
